.header {
  height: 100vh;
  background-image: url('../Assets/background-1.png');
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__text {
    font-size: 12.5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: $font-secondary;
    transform: translate(-50%, -50%);
    color: #414f6b;
    letter-spacing: 2.8rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 9rem;
    }
      @media only screen and (max-width: $bp-small) {
      font-size: 7rem;
    }
  }
  &_span {
    display: block;
    margin-bottom: -9rem;
    color: #4d4d4d;
    font-size: 11.5rem;
    letter-spacing: 2.3rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 7.5rem;
      margin-bottom: -5rem;
    }
     @media only screen and (max-width: $bp-small) {
      font-size: 6.6rem;
      margin-bottom: -3rem;
    }
  }
}
