$color-grey-dark: #414f6b;
$color-grey-light: #b0b4be;

// fonts

$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Bebas Neue', cursive;
$font-extra: 'Lato', sans-serif;



$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-smallest-5s: 21.25em; // 320px